name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"   # Runs daily at midnight
  workflow_dispatch:       # Allows manual runs
  push:
    branches: [ main ]     # Runs when you push to main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Generate snake animation
      uses: Platane/snk@master
      with:
        github_user_name: EvilmaxSec
        svg_out_path: dist/github-contribution-grid-snake.svg
        
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
        publish_branch: output
        force_orphan: true
